.like {
  float: left;
  padding-right: 10px;
}
.like .likefont {
  font-size: 16px;
  color: red;
}
.reply {
  float: left;
}
.reply .editfont {
  font-size: 16px;
}
.after:after {
  display: block;
  content: '';
  clear: both;
}
.item-title {
  font-size: 14px;
  color: #757575;
  font-weight: 600px;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.mui-bar-nav ~ .mui-content {
  padding-top: 0;
  top: 0;
}
.header {
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3cb371;
  height: 50px;
}
.bar {
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.bar .lfbar {
  position: absolute;
  top: 0px;
  height: 30px;
}
.bar .lfbar .lfbarimg {
  height: 30px;
  width: 30px;
  float: left;
  margin-top: 10px;
}
.bar .lfbar .lfbarimg .logo {
  width: 30px;
  height: 30px;
}
.bar .lfbar .lfbarp {
  padding-left: 15px;
  float: left;
  font-size: 20px;
  color: #fff;
  height: 50px;
  line-height: 50px;
}
.bar .rtbar {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 15px;
}
.bar .rtbar .searchicon {
  font-size: 20px;
  color: #fff;
}
.container {
  width: 100%;
  height: 100%;
}
.container .content {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
.container .content .mui-content .mui-fullscreen {
  padding-top: 0;
}
.container .content .selbar .selbarlist {
  padding-left: 0;
}
.container .content .selbar .selbarlist .selbaritem {
  font-size: 16px;
  display: inline-block;
  padding: 15px 5px;
}
.container .content .mui-slider-group .mui-scroll-wrapper .mui-control-item {
  padding: 0 8px;
}
.container .content .mui-slider .mui-slider-group .mui-slider-item a {
  height: 100%;
}
.container .content .mui-slider .mui-slider-group .lunbodiv {
  height: 200px;
}
.container .content .mui-slider .mui-slider-group .mui-slider-item a .lunboimg {
  margin-top: 0;
}
.container .content .mui-slider .mui-slider-group .mui-slider-item .mui-slider-title {
  line-height: 50px;
  height: 50px;
  font-size: 16px;
  padding: 0 10px;
}
.container .content .mui-segmented-control.mui-scroll-wrapper .mui-scroll {
  padding-right: 60px;
}
.container .content .mui-segmented-control.mui-scroll-wrapper .mui-control-item {
  padding: 0 8px;
}
.container .content .mui-content .mui-slider .plusContainer {
  width: 45px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  background-color: #fff;
}
.container .content .mui-content .mui-slider .plusContainer .plusa {
  display: block;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 15px;
  z-index: 3;
}
.container .content .mui-content .mui-slider .plusContainer .plusa .plusi {
  font-size: 20px;
  color: #bbb;
  font-weight: bold;
  z-index: 4;
}
.container .content .mui-slider-indicator.mui-segmented-control {
  background-color: #fff;
}
.container .content .mui-table-view-cell .item-container {
  width: 100%;
  padding: 5px 0;
  position: relative;
}
.container .content .mui-table-view-cell .item-container .item-img {
  display: block;
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 15px;
}
.container .content .mui-table-view-cell .item-container .item-content .item-title {
  font-size: 15px;
  color: #757575;
}
.container .content .mui-table-view-cell .item-container .item-content .article-sorts2 {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  color: #aaa;
}
.container .content .mui-table-view-cell .item-container .item-content .like-and-reply {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 13px;
  color: #6c6c6c;
  padding-right: 10px;
  float: left;
}
.container .content .mui-table-view-cell .item-container .item-content .like-and-reply .likefont {
  font-size: 16px;
  color: red;
}
.container .content .mui-table-view-cell .item-container .item-content .like-and-reply .editfont {
  font-size: 16px;
}
.container .content .mui-table-view-cell .item-container .item-content .like-and-reply:after {
  display: block;
  content: '';
  clear: both;
}
.container .content .mui-table-view-cell .item-container:after {
  display: block;
  content: '';
  clear: both;
}
.container .content .mui-table-view-cell .item-vedio-title {
  font-size: 15px;
  color: #757575;
  padding-bottom: 15px;
}
.container .content .mui-table-view-cell .item-vedio-title .item-title {
  font-size: 15px;
  color: #757575;
}
.container .content .mui-table-view-cell .item-vedio-img {
  width: 100%;
  overflow: hidden;
  height: 130px;
}
.container .content .mui-table-view-cell .item-vedio-img .imageLar,
.container .content .mui-table-view-cell .item-vedio-img .imagelarge {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
.container .content .mui-table-view-cell .item-vedio-img .imageHide {
  display: none;
}
.container .content .mui-table-view-cell .article-sorts {
  font-size: 12px;
  color: #aaa;
  font-weight: normal;
}
.container .content .item-content-whole {
  position: relative;
  width: 100%;
}
.container .content .item-content-whole .item-vedio {
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
  background-image: url('../img/rain.jpg');
  background-size: cover;
}
.container .content .item-content-whole .item-vedio .vedio-img {
  width: 100%;
  height: 80px;
}
.container .content .item-content-whole .article-sorts {
  font-size: 12px;
  color: #aaa;
  font-weight: normal;
}
.container .content .item-content-whole .like-and-reply {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 13px;
  color: #6c6c6c;
  padding-right: 10px;
  float: left;
}
.container .content .item-content-whole .like-and-reply .likefont {
  font-size: 16px;
  color: red;
}
.container .content .item-content-whole .like-and-reply .editfont {
  font-size: 16px;
}
.container .content .item-content-whole .like-and-reply:after {
  display: block;
  content: '';
  clear: both;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  margin-left: 0;
  font-size: inherit;
}
/*# sourceMappingURL=media.css.map */