body {
    position: relative;
}

.header {
	width:100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3cb371;
    height: 40px;
}
.bar{
	position: relative;
	width:100%;
	padding:0 10px;
	.lfbar{
		position: absolute;
		top:5px;
		height:30px;
		.lfbarimg{
			height:30px;
			width:30px;
			float: left;
			.logo{
				width:30px;
				height:30px;
			}
		}
		.lfbarp{
			padding-left:15px;
			float: left;
			font-size: 20px;
			color:#fff;
			height:30px;
			line-height: 30px;
		}
	}
	.rtbar{
		width:20px;
		height:20px;
		position: absolute;
		top:5px;
		right:10px;
		.rtbari{
			font-size: 20px;
			color:#434343;


		}
	}

}
.container{
	width:100%;
	margin-top:40px;
	.content{
		width:100%;
		padding:0 10px;
		.selbar{
			.selbarlist{
				padding-left:0;
				.selbaritem{
					font-size: 16px;
					display:inline-block;
					padding:15px 5px;

				}
			}
		}
	}
}
