.header{
	width: 100%;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #F34541;
}
.brand{
	padding: 10px 20px 10px;
	height: 40px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	color: white;
    width: 120px;
    float: left;

}
.heart{
	float: left;
}
.brand:hover i:before{
  content: "\f004";
  color: white;
}

.button01{
	width: 38px;
	height: 30px;
	padding: 4px 12px;
	margin-top: 5px;
	float: left;
	color: white;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button01:hover{
	background-color: #f01611;
}
.shuru{
	float: right;
	width: 190px;
	height: 30px;
	position: absolute;
	right: 200px;
	margin-top: 5px; 
}


.search{
	width: 190px;
	height: 30px;
	padding: 4px 25px 4px 7px;
	border: 1px solid #f01611;
	display: inline-block;
	
	opacity: 0.4;
	-webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;

}
.search:hover{
	opacity: 1;
}

.client{
	height: 40px;
	padding: 7px 15px 6px;
	background-color:#c3100c;
	width: 150px;
	float: right;
	margin-left: 100px;
	line-height: 40px;
	color: white;
	vertical-align: middle;
	cursor:pointer;
}
.client:hover{
	background-color: #b60f0b;
}
.personimg{
	border: 2px solid white;
	display: inline-block;
}
.name{
	line-height: 20px;
	display: inline-block;
	position: relative;
	top:-7px;
}
.xiala{
	float: right;
	position: relative;
	margin-top: -7px;
}

.dropdown-menu{
	position: absolute;
	background-color: white;
	height: 100px;
	width: 170px;
	padding: 5px 0;
	top:45px;
	right: 10px;
	border: 1px solid #ccc;
	line-height: 23px;
	cursor: pointer;
	display: none;
	
}

/*.shangbiao{
	color: yellow;
	position: absolute;
	right: 25px;
	top: 35px;

}*/
li {list-style-type:none;
	padding-left: 20px;
    height: 23px;}
.fengexian{
	margin-top: 10px;
	height: 1px;
	border-bottom: 1px solid #ccc;
}
.dropdown-menu li:hover{
	background-color: #F34541;
	color: white;
}
.cont{
    overflow-y: scroll;
	width: 250px;
	
}
.leftmenu{
	width: 250px;
	background-color: #F4F4F4;
	
	/*height: 100%*/
	

}

.leftmenu > li{
	/*width: 250px;*/
	height: 42px;
	line-height: 45px;
	border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    

}
.leftmenu >li span{
	margin-left: 15px;
	line-height: 42px;
	display: inline-block;

}

.leftmenu > li:hover i:before{
   color: #F34541;
}
.leftmenu > ul{
	cursor: pointer;
}
.leftmenu > ul li:hover i:before{
	color: #F34541;

}
.leftmenu > li:hover span{
	padding-left: 2px;
	display: inline-block;
}
.leftmenu.lixiao > li:hover {
	background-color: white;
	width: 295px;
	border-top: 1px solid #ccc;
    display: inline-block;
    text-align: left;
}

.hhh{
	background-color: white;
	width: 295px;
	border-top: 1px solid #ccc;
    display: inline-block;
    text-align: left;
}


.form{
	display: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 250px;
}
.form > li{
	width: 250px;
	height: 30px;
	padding: 5px 5px 5px 20px;
	font-size: 14px;
	background-color: #ececec;
	border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.form > li span{
	margin-left: 15px;
}

.lixiao{
	width: 45px;

	
	

}
.lixiao>li{
	text-align: center;
}



.list{
   position: absolute;
   left: 45px;
   float: left;
   display: block;
   
}

/*.leftmenu.lixiao > li:hover li>span{
	display: block;
}*/
/*.lixiao>li :hover{
	width: 250px;
	height: 42px;

	
	
}*/







