.like {
  float: left;
  padding-right: 10px;
}
.like .likefont {
  font-size: 16px;
  color: red;
}
.reply {
  float: left;
}
.reply .editfont {
  font-size: 16px;
}
.after:after {
  display: block;
  content: '';
  clear: both;
}
.item-title {
  font-size: 14px;
  color: #757575;
  font-weight: 600px;
}
.bookHeader {
  position: relative;
  height: 40px;
  background-color: #3cb371;
}
.bookHeader .backBtn {
  position: absolute;
  left: 10px;
  font-size: 25px;
  line-height: 40px;
  color: #fff;
}
.bookHeader [class^="flaticon-"]:before,
.bookHeader [class*=" flaticon-"]:before,
.bookHeader [class^="flaticon-"]:after,
.bookHeader [class*=" flaticon-"]:after {
  margin-left: 0;
}
.comContainer {
  width: 100%;
}
.comContainer .comHeader {
  width: 100%;
  height: 40px;
  background-color: #eee;
}
.comContainer .comHeader .headContent {
  width: 100%;
  padding: 10px;
}
.comContainer .comContent {
  width: 100%;
  padding: 0 10px;
}
.comContainer .comContent .refresh {
  top: 80px;
}
.comContainer .comContent .CommentItems {
  position: relative;
}
.comContainer .comContent .CommentItems .leftItem {
  float: left;
  width: 40px;
  height: 40px;
  background-size: cover;
}
.comContainer .comContent .CommentItems .leftItem1 {
  background-image: url("../img/leftIem1.jpg");
}
.comContainer .comContent .CommentItems .leftItem2 {
  background-image: url("../img/leftIem2.jpg");
}
.comContainer .comContent .CommentItems .leftItem3 {
  background-image: url("../img/leftIem3.jpg");
}
.comContainer .comContent .CommentItems .rightItem {
  float: left;
}
.comContainer .comContent .CommentItems .rightItem .rightPara {
  padding: 5px 15px;
}
.comContainer .comContent .CommentItems .rightItem .rightPara1 {
  font-size: 14px;
  color: #5b5b5b;
}
.comContainer .comContent .CommentItems .rightItem .rightPara2 {
  font-size: 12px;
  color: #7b7b7b;
}
.comContainer .comContent .CommentItems .rightItem .rightPara3 {
  font-size: 13px;
  color: #555;
}
.comContainer .comContent .CommentItems:after {
  display: block;
  content: '';
  clear: both;
}
.comContainer .comContent .CommentItems .like {
  position: absolute;
  right: 0;
  top: 0;
}
.comContainer .comContent .CommentItems .red {
  color: red;
}
.comContainer .comContent .sendComments {
  height: 50px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.comContainer .comContent .sendComments .edit {
  padding: 5px 0;
  float: left;
  position: relative;
  width: 80%;
}
.comContainer .comContent .sendComments .edit .editFont {
  color: #555;
  font-size: 16px;
  position: absolute;
  left: 0;
  height: 50px;
  line-height: 50px;
}
.comContainer .comContent .sendComments .edit .inputComments {
  border: none;
  border-bottom: 1px solid #d8d8d8;
  position: absolute;
  right: -15px;
  width: 90%;
}
.comContainer .comContent .sendComments .likeIcon {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  float: left;
  padding-left: 20px;
  color: #555;
}
.comContainer .comContent .sendComments .red {
  color: red;
}
.comContainer .comContent .sendComments:after {
  display: block;
  content: '';
  clear: both;
}
.comContainer .mui-table-view-chevron .mui-table-view-cell {
  padding-right: 0;
}
/*# sourceMappingURL=comments.css.map */