.like {
  float: left;
  padding-right: 10px;
}
.like .likefont {
  font-size: 16px;
  color: red;
}
.reply {
  float: left;
}
.reply .editfont {
  font-size: 16px;
}
.after:after {
  display: block;
  content: '';
  clear: both;
}
.item-title {
  font-size: 14px;
  color: #757575;
  font-weight: 600px;
}
body {
  position: relative;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3cb371;
  height: 50px;
}
.bar {
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.bar .lfbar {
  position: absolute;
  top: 5px;
  height: 30px;
}
.bar .lfbar .lfbarimg {
  height: 30px;
  width: 30px;
  float: left;
}
.bar .lfbar .lfbarimg .logo {
  width: 30px;
  height: 30px;
}
.bar .lfbar .lfbarp {
  padding-left: 15px;
  float: left;
  font-size: 20px;
  color: #fff;
  height: 30px;
  line-height: 30px;
}
.bar .rtbar {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 15px;
}
.bar .rtbar .searchicon {
  font-size: 20px;
  color: #fff;
}
.container {
  width: 100%;
  margin-top: 50px;
}
.container .content {
  width: 100%;
  padding: 0 10px;
}
.container .content .selbar .selbarlist {
  padding-left: 0;
}
.container .content .selbar .selbarlist .selbaritem {
  font-size: 16px;
  display: inline-block;
  padding: 15px 5px;
}
.container .content .mui-table-view .mui-table-view-cell .mui-slider-overflowb {
  overflow: inherit;
}
.container .content .mui-content .mui-slider-overflowa {
  overflow: visible;
}
.container .content .mui-slider-group .mui-scroll-wrapper {
  overflow: visible;
}
.container .content .mui-slider .mui-slider-group .mui-slider-item {
  height: 250px;
  padding-bottom: 0px;
}
.container .content .mui-slider .mui-slider-group .mui-slider-item .mui-slider-title {
  line-height: 50px;
  height: 50px;
  font-size: 16px;
}
.container .content .mui-content .mui-slider #sliderSegmentedControl {
  position: relative;
}
.container .content .mui-segmented-control.mui-scroll-wrapper .mui-scroll {
  padding-right: 60px;
}
.container .content .mui-content .mui-slider .plusContainer {
  width: 35px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  background-color: #fff;
}
.container .content .mui-content .mui-slider .plusContainer .plusa {
  display: block;
  padding-bottom: 6px;
  padding-right: 10px;
  z-index: 3;
}
.container .content .mui-content .mui-slider .plusContainer .plusa .plusi {
  font-size: 20px;
  color: #bbb;
  font-weight: bold;
  z-index: 4;
}
.container .content .mui-slider-indicator.mui-segmented-control {
  background-color: #fff;
}
.container .content .mui-table-view-cell .item-container {
  width: 100%;
  padding: 5px 0;
}
.container .content .mui-table-view-cell .item-container .item-content {
  position: relative;
  float: left;
  font-size: 14px;
  color: #757575;
  font-weight: 600px;
}
.container .content .mui-table-view-cell .item-container .item-content .item-img {
  width: 100px;
  height: 100px;
  background-image: url("../img/obama.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  float: left;
  margin-right: 20px;
}
.container .content .mui-table-view-cell .item-container .item-content .article-sorts {
  position: absolute;
  left: 120px;
  bottom: 0;
  font-size: 14px;
  font-weight: normal;
}
.container .content .mui-table-view-cell .item-container .item-content .like-and-reply {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 13px;
  color: #6c6c6c;
  padding-right: 10px;
  float: left;
}
.container .content .mui-table-view-cell .item-container .item-content .like-and-reply .likefont {
  font-size: 16px;
  color: red;
}
.container .content .mui-table-view-cell .item-container .item-content .like-and-reply .editfont {
  font-size: 16px;
}
.container .content .mui-table-view-cell .item-container .item-content .like-and-reply:after {
  display: block;
  content: '';
  clear: both;
}
.container .content .mui-table-view-cell .item-container:after {
  display: block;
  content: '';
  clear: both;
}
.container .content .item-content-whole {
  position: relative;
  width: 100%;
  padding: 10px 0;
}
.container .content .item-content-whole .item-vedio-title {
  padding-bottom: 10px;
  font-size: 14px;
  color: #757575;
  font-weight: 600px;
}
.container .content .item-content-whole .item-vedio {
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
}
.container .content .item-content-whole .item-vedio .vedio-img {
  width: 100%;
  height: 80px;
}
.container .content .item-content-whole .article-sorts {
  position: absolute;
  left: 0px;
  bottom: 0;
  font-size: 14px;
  font-weight: normal;
}
.container .content .item-content-whole .like-and-reply {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 13px;
  color: #6c6c6c;
  padding-right: 10px;
  float: left;
}
.container .content .item-content-whole .like-and-reply .likefont {
  font-size: 16px;
  color: red;
}
.container .content .item-content-whole .like-and-reply .editfont {
  font-size: 16px;
}
.container .content .item-content-whole .like-and-reply:after {
  display: block;
  content: '';
  clear: both;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  margin-left: 0;
  font-size: inherit;
}
